<nav>
  <ul>
    <li>
      <a href="{{resolve-from-root '/'}}">
        <span class='icon'><svg><use xlink:href='#arrow-left'></use></svg></span>&nbsp;Powrót do strony głównej
      </a>
    </li>
  </ul>
</nav>
