@import url('../node_modules/@picocss/pico/css/pico.min.css');

/* Colour scheme */
/* Lime Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #c0ca33;
  --primary-hover: #afb42b;
  --primary-focus: rgba(192, 202, 51, 0.125);
  --primary-inverse: rgba(0, 0, 0, 0.75);
}

/* Lime Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --primary: #c0ca33;
    --primary-hover: #cddc39;
    --primary-focus: rgba(192, 202, 51, 0.25);
    --primary-inverse: rgba(0, 0, 0, 0.75);
  }
}

/* Lime Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  --primary: #c0ca33;
  --primary-hover: #cddc39;
  --primary-focus: rgba(192, 202, 51, 0.25);
  --primary-inverse: rgba(0, 0, 0, 0.75);
}

/* Lime (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

/* Global styles */
footer > div.grid > div {
  text-align: center;
}

.warning {
  color: darkgoldenrod;
  font-weight: bold;
}

.autowidth {
  width: auto;
}

body > svg {
  display: none;
}

span.icon > svg {
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}
